/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

 #preload {
    display:block;
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    background-color: #fc3400;
    z-index:8000;

} 

#preload .icon {
    display:block;
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    background-repeat:no-repeat;
    background-size:300px 44px;
    background-position:center center;
}

   .mobile_header img{
    width:100%;
    height:auto;
   }
   .mobile_header {
    padding:50px;
   }
   .everything_container {
    background-color: #fc3400;
   }
    #home_priorities_heading {
        padding:64px 0;
        text-align:center;
        transition:padding 0.2s;
    }
    #home_priorities_heading h2 {
        margin:0;
        font-size:32px;
        font-family:museo-slab,sans-serif;
        font-weight:300;
        text-transform:uppercase;
        line-height:100%;
        color:#0a2a40;
    }
    #home_priorities_heading .line {
        display:inline-block;
        width:50%;
        max-width:320px;

        margin:16px 0 12px 0;
    }
    #home_priorities_heading .text {
        line-height:150%;
        display:block;
        margin:0 auto;
        width:80%;
        max-width:700px;
        font-family:times,"Times","Times New Roman",georgia,serif;
        font-size:18px;
        color:#7b7f82;
        font-weight:300;
        font-style:italic;
    }
    #home_priorities_heading .text p {
        margin:0;
    }
    #home_priorities_heading .text p.grey {
        margin-bottom:16px;
    }
    #home_priorities_heading .text p.blue {
        color:#3f95cb;
        font-family:museo-sans,sans-serif;
        font-style:normal;
        font-size:16px;
        text-transform:uppercase;
    }
    #home_priorities_heading .text p.blue a {
        color:#3f95cb;
        text-decoration:none;
    }
    #home_priorities_heading .text p.blue a:hover {
        color:#4dc9f3;
        text-decoration:underline;
    }
    2#home_priorities {
        text-align:center;
    }
    #home_priorities:before,#home_priorities:after {
        display:table;
        content:'';
        clear:both;
    }
    #home_priorities .priority {
        position:relative;
        display:block;
        height:300px;
        width:100%;
        line-height:300px;
        background-color:#fff;
        color:#fff;
        text-decoration:none;
        font-size:20px;
    }
    #home_priorities .priority .bg_image {
        position:absolute;
        top:0;
        right:0;
        bottom:0;
        left:0;
        background-size:cover;
        background-position:center center;
    }
    #home_priorities .priority .overlay {
        position:absolute;
        top:0;
        right:0;
        bottom:0;
        left:0;
        transition:all 0.2s;
    }
    #home_priorities .priority .inner {
        position:relative;
        display:inline-block;
        vertical-align: top;
        line-height:110%;
    }
    #home_priorities .priority h4 {
        margin:0 0 24px 0;
        font-family:museo-slab,sans-serif;
        font-weight:bold;
        text-transform:uppercase;
        font-size:30px;
    }
    #home_priorities .priority .icon {
        display:inline-block;
        width:110px;
        font-size:14px;
    }
    #home_priorities .priority .icon img {
        width:100%;
        height:auto;
    }
    #home_priorities .priority:hover .overlay {
    }
    #home_priorities .priority .see_news {
        display:none;
    }
   .image_1 {
        background-image:url('../img/p_co_1_02.jpg');
transition: all 0.5s;
    }
.image_2 {
        background-image:url('../img/p_co_2_02.jpg');
        transition: all 0.5s;
    }
    
.image_3 {
        background-image:url('../img/p_co_3_02.jpg');
        transition: all 0.5s;
    }
    .image_4 {
        background-image:url('../img/p_co_4_02.jpg');
        transition: all 0.5s;
    }
    #popup {
        display:none;
    }
    #home_priorities .priority .see_news {
    display: block;
}
#home_priorities .priority .inner {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    line-height: 120%;
    }
#home_priorities {
    text-align: center;
}
@media only screen and (min-width: 768px) {
    #home_priorities .priority .inner {
    vertical-align: top;
}
    .mobile_header {
        display:none;  
    }
    .mobile_header img{
        display:none;  
    }
    #popup img{
        max-width :600px;
    }
    #popup {
        position:absolute;
        width:600px;
        top:50%;
        left:48%;
        margin-top:-50px;
        margin-left:-260px;
        display:block;
        z-index: 100;
    }

    .content img {
        width:100%;
        height:auto;
        text-align: center;
        line-height: 130%;
        bottom: 50%;
        top: 0; left: 0;right: 0;
        position:relative;
    }
    .content {
      float: left;
   position: absolute;
   left: 0px;
   top: 0px;
   z-index: 1000;
   color: #FFFFFF;
   font-weight: bold;
}

    #home_priorities .priority .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: center center;
    opacity: 1;
    transition: all 0.5s;
    height:100vh;
}
.image_1_1 {
     background-image:url('../img/p_co_1_01.jpg'); 
}
.image_2_2 {
     background-image:url('../img/p_co_2_01.jpg'); 
}
.image_3_3 {
     background-image:url('../img/p_co_3_01.jpg'); 
}
.image_4_4 {
     background-image:url('../img/p_co_4_01.jpg'); 
} 
#home_priorities .priority:hover .overlay {
    opacity: 0;
}
    #home_priorities .priority .bg_image {
        height:100vh;
    }
    #home_priorities {
        height::100vh;
    }
   #home_priorities_heading {
        padding:160px
    }
    #home_priorities_heading h2 {
        font-size:40px
    }
    #home_priorities_heading .line {
        margin:32px 0 24px 0
    }
    #home_priorities_heading .text {
        font-size:20px
    }
    #home_priorities {
        background-color:#fc3400;
       height: 100vh;
        position: relative;
    }
    #home_priorities .priority {
        height:100vh;
        float:left;
        height:600px;
        line-height:600px;
        width:25%;
        -webkit-transition: width 2s;
        transition: width 0.5s;
    }
    #home_priorities .priority .icon {
        width:80px;

    }
    #home_priorities .priority .see_news {
        display:block;
        margin-top:32px;
    }
    #home_priorities .priority .see_news span {
        display:inline-block;
        line-height:100%;
        padding:12px;
        opacity:0;
        transform:translateY(32px);
        transition:opacity 0.5s,transform 0.5s;
        font-family:museo-slab;
        font-weight:700;
        font-size:14px;
        text-transform:uppercase
    }
    #home_priorities:hover .priority {
        width:16.66%;
    }
    #home_priorities:hover .priority:hover {
        width:50%;
    }
    #home_priorities:hover .priority:hover .see_news span {
        opacity:1;
        transform:translateY(0);
    }
}
@media only screen and (min-width: 1366px) {

}










/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px; 
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
